---
BasedOnStyle:  Google
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: All
BreakConstructorInitializersBeforeComma: true
BreakInheritanceList: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
IndentWidth:     4
IncludeCategories:
  - Regex:           '^".*"'
    Priority:        1
  - Regex:           '^<.*\.h>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        3
  - Regex:           '.*'
    Priority:        4
PointerAlignment: Right
SpacesInCStyleCastParentheses: false
ObjCBlockIndentWidth: 4
ColumnLimit: 100
---
Language:        Cpp
---
Language:        ObjC
